---
import Layout from '../../layouts/Root.astro';
import currencyImg from '../../../assets/currency-converter.png'
import homeImg from '../../../assets/home-page-demo.png'
import muraImg from '../../../assets/mura-engine-demo.png'
import reroiImg from '../../../assets/reroi-logo.png'
import vimImg from '../../../assets/vimImg.png'
import langdevImg from '../../../assets/langdev-demo.png'
import rayCastingImg from '../../../assets/ray-casting-demo.png'
import physicsImg from '../../../assets/physics-engine-demo.png'

interface Project {
  title: string;
  description: string;
  img: string;
  sourceLink: string;
  stack?: Array<string>;
  link?: string;
}
const projects: Array<Project> = [
  {
    title: 'Currency converter',
    description: 'Minimalistic currency converter capable to work offline and being installed (PWA).',
    img: currencyImg.src,
    stack: ['React', 'Rx.js'],
    sourceLink: 'https://github.com/PunGy/currency-converter',
    link: 'https://currency-app.pungy.me/',
  },
  {
    title: 'REROI',
    description: 'Powerfull library for creating reactive systems with maximum control.',
    img: reroiImg.src,
    stack: ['TypeScript'],
    sourceLink: 'https://github.com/PunGy/reroi',
    link: 'https://codesandbox.io/p/sandbox/q3r8cm'
  },
  {
    title: 'PL Playground',
    description: 'A platform for developing programming languages and visually investigate execution process.',
    img: langdevImg.src,
    stack: ['TypeScript'],
    sourceLink: 'https://github.com/PunGy/lang-dev',
    link: 'https://lang-dev.pungy.me',
  },
  {
    title: 'Home Page',
    description: 'The website you are currently reading! Fully static with Astro meta-framework!',
    img: homeImg.src,
    stack: ['Astro.js'],
    sourceLink: 'https://github.com/PunGy/pungy.me',

    link: 'https://pungy.me'
  },
  {
    title: 'Mura game engine',
    description: 'Canvas2D game engine made from scratch. Deserves complete rewrite, but some games were implemented - Space Invaders!',
    img: muraImg.src,
    stack: ['TypeScript', 'Rx.js'],
    sourceLink: 'https://github.com/PunGy/mura',
    link: 'https://mura.pungy.me/'
  },
  {
    title: 'NeoVIM config',
    description: 'My configuration of NeoVIM which I use for day to day work.',
    img: vimImg.src,
    stack: ['Fennel', 'LazyVim'],
    sourceLink: 'https://github.com/PunGy/neovim-dotfiles',
  },
  {
    title: 'Physics demo',
    description: 'A desperate attempt to make a working physics engine over the weekend. General rigid body kinematics.',
    img: physicsImg.src,
    stack: ['TypeScript'],
    sourceLink: 'https://github.com/PunGy/physics-engine',
    link: 'https://physics-demo.pungy.me/'
  },
  {
    title: 'Ray-casting',
    description: 'Quite a classic implementation of ray-casting using Canvas2D',
    img: rayCastingImg.src,
    stack: ['JavaScript', 'Canvas2D'],
    sourceLink: 'https://github.com/PunGy/ray-casting-canvas',
    link: 'https://ray-casting.pungy.me/'
  },
]
---

<Layout title="Projects">
  <div id="layout">
    <div id="projects">
      {projects.map(project => (
      <div class="project-card block">
        <img src={project.img} alt="">
        <div class="card-content">
          <span class="title">{project.title}</span>
          <div class="stack">
            {project.stack.map(tool => (
            <span>{tool}</span>
            ))}
          </div>
          <span class="description">{project.description}</span>
        </div>
        <div class="links">
          <a href={project.sourceLink}>source</a>
          {project.link && <a href={project.link}>try to use!</a>}
        </div>
      </div>
      ))}
    </div>
  </div>
</Layout>

<style>

#layout {
  display: flex;
  padding: 1rem;
  position: relative;
  justify-content: center;
}

#projects {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.2rem;
}

.project-card {
  width: 310px;
  height: 440px;
  display: flex;
  flex-direction: column;
  color: var(--primary-fg);
  border-radius: 5px;
}

.project-card .card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.project-card img {
  border-radius: 5px 5px 0 0;
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: left; 
}
.project-card .title {
  font-size: 1.6rem;
  text-align: center;
  display: block;
  width: 100%;
}

.project-card .stack {
  font-size: 0.9rem;
  color: var(--secondary-fg);
  margin-bottom: 0.3rem;
  display: flex;
  gap: 0.5rem;
}

.project-card .links {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0 0.5rem 0.5rem;
  flex-grow: 1;
  align-items: end;
}

@media (max-width: 1050px) {
  #projects {
    width: 650px;
  }
}

@media (max-width: 700px) {
  #projects {
    width: 100%;
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    height: auto;
  }
}

</style>
